header {
  background-color: rgb(0, 0, 0);
  text-align: center;
  }
  h1 {
  font-size: 50px;
  text-align: center;
}
.gray {
  color: gray;
}
  img {
    align: center;
}
  p {
  font-size: 30px;
  text-align: center;
}
.blue {
  color: blue;
}
  h2 {
  font-size: 30px;
  text-align: center;
}
.red {
  color: red;
}
.gold {
  color: goldenrod
}
  ol {
  font-size: 30px;
  text-align: left;
}
  h3 {
  font-size: 30px;
  text-align: center;
}
.green {
  color: green;
}
body {
  background-color: lightcyan;
}

* {
  font-family: sans-serif;
}

  .flex-container {
  display: flex;
}

#footer ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}
